# 环境变量文件
.env

# 数据库文件
*.db

# Python
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
ENV/

# Telethon session 文件
*.session
*.session-journal 
/.idea
/example
/config
/ufb/.idea
ufb/config/config.json
/logo/svg
